html, body {
width: 100%;
height: 100%;
margin:0;
font-family:Times New Roman, Arial, Verdana;
}

body{
background: url('../imagini/bg.jpg') no-repeat;
background-size:cover;
/*background-size:contain;*/
}

.outer{
width:410px;
height:450px;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;

margin: auto;
text-align:center;

background: url('../imagini/bg_intro.png') no-repeat;

color:#00588a;
}

.outerbuttons {
    width: 470px;
    height: 650px;
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 100px;
    right: 0;
    margin: auto;
    text-align: center;
    background: url('../imagini/WizOne.png') no-repeat;
    background-position-x: 40px;
    color: #00588a;
}

.inner
{
    position:absolute;
    top:110px;
    left:55px;
    height: 550px;
    width:290px;
    display:inline-block;
    text-align:left;
    font-size:18px;
    color:#00588a;
}

.innerbuttons {
    position: absolute;
    top: 80px;
    left: 0;
    width: 400px;
    height: 500px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    color: #00588a;
}

.innerbuttonscard {
    position: absolute;
    top: 200px;
    left: 750px;
    width: 400px;
    height: 500px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    color: #00588a;
}

.innerlogare {
    position: absolute;
    top: 360px;
    left: 55px;
    height: 550px;
    width: 290px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: #00588a;
}

.divider {
    margin-right: 30px;
    margin-bottom: 30px;
}
     
.inner span
{
    display:inline-block;
    width:100%;
    margin-bottom:5px;
    margin-left:2px;
}

.inner #txtPan1, .inner #txtPan2
{
    display:inline-block;
    width:100%;
    height:30px;
    border:solid 1px #00588a;
    font-size:18px;
    font-weight:200;
    font-family:Times New Roman;
    color:#00588a;
}

#txtPan1
{
    /*margin-bottom:17px;*/
}

a
{
    color:#00588a;
    font-size:18px;
    position:absolute;
    left:58px;
    top:305px;
}

#btnOk
{
    font-size:18px;
    position:absolute;
    left:259px;
    top:300px;
    width:90px;
    height:36px;
    border:solid 1px #00588a;
    background-color:#f2571f;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}

#btnOk:hover
{
    background-color:#00588a;
}

#rfv1, #rfv2, #rfv3
{
    color:#f00;
    font-size:16px;
    margin-top:2px;
    display:inline-block;
}

.divRfv
{
    width:100%;
    height:28px;
    position:relative;
}
.divRfv #rfv1, #rfv3
{
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
}



.ssSchimba
{
    position:absolute;
    top:122px;
    left:35px;
    width:330px;
    
    text-align:left;
    font-size:18px;
    color:#00588a;
    
    
}
     
    .ssSchimba div
    {
        width:100%;
        display:inline-block;
        margin-bottom:15px;
    }
     
    .ssSchimba div span
    {
        float:left;
        width:150px;
    }

    .ssSchimba div #txtPan1, .ssSchimba #txtPan2, .ssSchimba #txtPan3
    {
        width:170px;
        height:30px;
        border:solid 1px #00588a;
        font-size:18px;
        font-weight:200;
        font-family:Times New Roman;
        color:#00588a;
    }

.captcha {
    display:inline-block; bottom:0px; left:50px; position:absolute;
}

.logOut {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    max-width:400px;
    padding:20px;
}
