<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.1.0" targetFramework="net472" />
  <package id="DevExpress.Charts" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Dashboard.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Data" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Document.Processor" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Gauges.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Images" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Map.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Reporting.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Scheduler.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Snap.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.SpellChecker.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Spreadsheet.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.TreeMap" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.TreeMap.Core" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Utils" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Dashboard" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Dashboard.Common" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Office" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Reporting" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Reporting.Common" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Scheduler" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Themes" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Web.Visualization" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.Gauges" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.Grid" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.Map" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.Printing" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.TreeMap" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid" version="21.1.5" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="21.1.5" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.13.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="jQuery" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.EntityDataSource" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="21.3.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="21.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry" version="4.5.1" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Twilio" version="5.68.2" targetFramework="net472" />
</packages>