<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WizOne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <connectionStrings>
  <!--DIANAB <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£›ª€¥ ‡£–¨w²ÞŒáÆm€’©ÊàéÁÒ¢jiaŸÆÙ¨€ ‚•£©ÀÜîoáÊ•¥£ŸËâš¸ÜË¡m——ÃÜßŠ·Ó›¤š—Ã‰Ý°âÆžŸ˜s®²Ôž¼ª‘tzw¥ª¼" />-->
    <!--GENERALI <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£¤ÏÂÓ×Ry•sÊÊµŸÏØ¥§ ¨»¦²ˆžÎ¡ _gx¤Ê´àØ›£¥VÊÎÝÄàÎ¦©QŸÅÏéŒÔÆž£–q ×ãÃ×ÆžP”—ËÊæ¾Õ¢‰y‹•š¸ÇŸ¯³‹ƒr‚¶°¿³·s|zˆ¦¶" /> -->
    <!--TEMAD <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£›ª€¥ ‡£–¨w²ÞŒáÆm€’©ÊàéÁÒ¢jiaŸÆÙ¨€ ‚•£©ÀÜîoáÊ•¥£ŸËâš¸ÜË¡m——ÃÜßŠ·Ó›¤š—Ã‰Ý°âÆžŸ˜s®²Ô®±´€r„°¼»›Í¹w}rz" /> -->
  <!--CHIMPEX  <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£›ª€¤ ‡£–¨w²ÞŒáÆm€’©ÊàéÁÒ¢jiaŸÆÙ¨€ ‚•£©ÀÜîoáÊ•¥£ŸËâš¸ÜË¡m——ÃÜßŠ·Ó›¤š—Ã‰Ý°âÆžŸ˜s®²Ô®±´€r„°¼»›Í¨zy~†œÁ"/>-->
    <!--APT <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£¤ÏÂÓ×Ry•sÊÊµŸÏØ¥§ ¨»¦²ˆžÎ¡ _gx¤Ê´àØ›£¥VÊÎÝÄàÎ¦©QŸÅÏéŒÔÆž£–q ×ãÃ×ÆžP”—ËÊæ¾Õ¢‰y‹•š¸ÇŸ¯³‹ƒr‚¶ªÊ£" />-->
    <!--TACTIL  <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£›ª€¢ ‡£–¨w²ÞŒáÆm€’©ÊàéÁÒ¢jiaŸÆÙ¨€ ‚•£©ÀÜîoáÊ•¥£ŸËâš¸ÜË¡m——ÃÜßŠ·Ó›¤š—Ã‰Ý°âÆžŸ˜s®²Ô®±´€r„°¼»›Í­s‚…¥°Ù¤¼®†yk" />-->
  <add name="cnWeb" connectionString="›Êî°ŽØ¡¥£™¼¦«ˆ “cfidˆ—®ˆÊ¼{Š„w£›ª€¤ ‡£–¨w²ÞŒáÆm€’©ÊàéÁÒ¢jiaŸÆÙ¨€ ‚•£©ÀÜîoáÊ•¥£ŸËâš¸ÜË¡m——ÃÜßŠ·Ó›¤š—Ã‰Ý°âÆžŸ˜s®²Ô®±´€r„°¼»›Í¦~{r" />
  </connectionStrings>

  <applicationSettings>
    <WizOne.Properties.Settings>
      <setting name="WizOne_SodexoOnline_v1_0_paper" serializeAs="String">
        <value>https://apitest.sodexoonline.ro:443/middle.api/v1.0/paper</value>
      </setting>
    </WizOne.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="EsteTactil" value="false" />
    <add key="IdTerminal" value="1234" />
  </appSettings>

  <system.web>
    <sessionState timeout="600" cookieName="Asdfgh" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime executionTimeout="500" enableVersionHeader="false" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXCD.axd" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRD.axd" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Collections.Generic" />
      </namespaces>
      <controls>
        <add tagPrefix="ef" namespace="Microsoft.AspNet.EntityDataSource" assembly="Microsoft.AspNet.EntityDataSource" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDiagram" assembly="DevExpress.Web.ASPxDiagram.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.ASPxPivotGrid.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpellChecker" assembly="DevExpress.Web.ASPxSpellChecker.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.ASPxHtmlEditor.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler" assembly="DevExpress.Web.ASPxScheduler.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v21.1.Web, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.DashboardWeb" assembly="DevExpress.Dashboard.v21.1.Web.WebForms, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRichEdit" assembly="DevExpress.Web.ASPxRichEdit.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpreadsheet" assembly="DevExpress.Web.ASPxSpreadsheet.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.XtraReports.Web" assembly="DevExpress.XtraReports.v21.1.Web.WebForms, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
  </system.web>

  <!--
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="default.aspx Redirect" stopProcessing="true">
          <match url="^(.*\/)*default\.aspx$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  -->

  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" name="ASPxDashboardHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXCD.axd" name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRD.axd" name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" />
    </handlers>
    <httpErrors existingResponse="Replace" defaultResponseMode="ExecuteURL" errorMode="Custom">
      <remove statusCode="400"/>
      <error statusCode="400" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="401"/>
      <error statusCode="401" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="402"/>
      <error statusCode="402" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="411"/>
      <error statusCode="411" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="/ErrorPages/Oops.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>

  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.21.1" newVersion="4.122.21.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>